/* ======================================= */
/*   Base: Reset                           */
/* ======================================= */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin and padding
*/
* {
  margin: 0;
  padding: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
